#primary {
    padding-block: 20px;
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

#primary > div { 
    display: flex;
    align-items: center; 
    gap: 8px;
    }
    

    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secundary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
}